*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-color: azure;
  background-image: url(./background-retro.jpg);
  background-size: contain;
}

.flex-container{
  border: 1px solid #67787d;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}

h1{
  text-decoration: underline;
}

form{
  border: 1px solid #000;
  width: 600px;
  background-color: #c6c6c6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100vh;

}

form fieldset{
  border-color: #67787d;
}

form fieldset > p{
  display: flex;
  gap: 5px;
}

#actividades{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#actividades .contenedor{
  display: flex;
  gap: 10px;
}

legend{
  font-weight: bold;
}

.sede{
  font-style: italic;
  margin-bottom: 10px;
  text-decoration: underline;
}
